.share_button_here {
    background-color: rgba(0,0,0, 0.68);
    border-radius: 50%;
    margin-bottom: 10px;
    color: white;
    box-shadow: inset 0 0 10px #000000, 0 0 50px #ccc;

    &:hover{
        background-color: rgba(0,0,0, 0.68);
        color: white;
    }
}

.details_area {
    .price {
        background-color: #F59432 !important;
    }
    .images {
        background-color: #48321F !important;
    }

    .for_rent {
        background-color: #9ED976 !important;
        color: #265733 !important;
        font-weight: 700;
        line-height: 15px;
    }

    .for_sale {
        background-color: #76BBD9 !important;
        color: #265733 !important;
        font-weight: 700;
        line-height: 15px;
    }

    .title {
        color: #2C4839;
        text-shadow: 0px 0px 1px black;
        font-weight: 800;
    }
}