@import '../../styles/_colors.scss';

.loggedIn {
    width: 400px;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
}

.sign_up_facebook {
    color: $white;
    background-color: #0165E1;
    box-shadow: $shadow-box-1;
    border-radius: 25.5px;

    &:hover {
        background-color: #0165E1;
    }

    .sign_up_facebook_icon {
        margin-right: 10px;
    }
}