.myInput {
    input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.401);
        border-radius: 0px;
        background: none;

        &::placeholder{
            text-align: center;
        }
        &:focus {
            border-color: none; /* Change to your desired color */
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.401);
        }
    }
}