@import '../../styles/_colors.scss';

.container-fluid {
    min-height: 100vh !important;
}

.signup-form {
    margin: 0 !important;

    .col {
        padding: 0 !important;
    }

    .form-part-sign-in {
        background-color: $white;
        height: 100vh;
        .logo-container {
            background-color: $background-primary;
            // padding: 10px;
            width: 120px;
        }

        h2 {
            font-family: 'Nunito', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: $black;
        }

        .or {
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            font-weight: 700;
            color: $black;
        }

        .btn-sign-in {
            border-radius: 25.5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: $white;
            // width: 200px;
        }
    }

    .text-part-sign-in {
        height: 100vh;
        background-color: $background-primary;

        h2 {
            font-family: 'Nunito', sans-serif;
            font-size: 40px;
            font-weight: 700;
            color: $white;
        }

        p {
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $white;
        }

        .btn-sign-in {
            border-radius: 25.5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: $white;
            width: 300px;
            border: 2px solid $white;
        }
    }
}