@import '../../../styles/_colors.scss';


.profile_ul {
    margin-left: -20px !important;
}

.link {
    font-family: 'Ubuntu';
    font-weight: 800;
}

.greeting {
    text-decoration: none !important;
    font-family: 'Ubuntu';
    font-weight: 600;
    color: white;
}